<html>
<head>
       <title>Earth Assets from NASA</title>
</head>
<body>
<form id="myform" action="http://127.0.0.1:8080/api/EarthAssets" method="get">
	<div>
		<img src="{{.URL}}" width="1000" height="800">
	</div>
	<div>
		<input type="date" id="date" name="date">
	</div>
	<div>
    	<input type="submit" value="Get Earth Assets" />
	</div>
</form>
</body>
</html>
